<!-- {% load static %} -->
<!DOCTYPE html>
<html>
    <head>
        <title>Mobile Jukebox Voting</title>
        <!-- Load CSS files -->
        <link rel="stylesheet" type="text/css" href="admin.css">
        
        <!-- Load JavaScript files -->
        <script src="jquery.min.js"></script>
        <script src="admin.js"></script>
    </head>
    <body>
        <h1>Admin Interface</h1>
        <h3>-Press Pause to pause the currently playing song<br>
        -When paused, press Play to continue playing music<br>
        -Press Skip to skip the currently playing song</h3>
        <div class = "currentSong">
            <!-- {% for song in allsongs %}
                <div class="song_container" id= "container{{  forloop.counter }}">
                    <p class="song_name" id= "song{{  forloop.counter }}">{{ song.title }}</p>
                    <button class="like_bttn" id= "like{{  forloop.counter }}"></button>
                    <button class="dislike_bttn" id= "dislike{{  forloop.counter }}"></button>
                </div>
            {% endfor %} -->
            <div class="song_container" id= "currentSongContainer">
                <p class="song_name" id= "currentSong">Currently Playing: Current Song, Bitches</p>
                <button type="button" id= "pause">Pause</button>
                <button type="button" id= "play">Play</button>
                <button type="button" id= "skip">Skip</button>
            </div>
        </div>
    </body>
</html>