{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mobile Jukebox Voting</title>
        <!-- Load CSS files -->
        <link rel="stylesheet" type="text/css" href="{% static 'api/phone_voting.css' %}">
        
        <!-- Load JavaScript files -->
        <script src="{% static 'api/jquery.min.js' %}"></script>
        <script src="{% static 'api/phone_voting.js' %}"></script>
    </head>
    <body>
        <div class = "allSongs">
            {% for song in allsongs %}
                <div class="song_container" id= "container{{  forloop.counter }}">
                    <p class="song_name" id= "song{{  forloop.counter }}">{{ song.title }}</p>
                    <button class="like_bttn" id= "like{{  forloop.counter }}"></button>
                    <button class="dislike_bttn" id= "dislike{{  forloop.counter }}"></button>
                </div>
            {% endfor %}
        </div>
    </body>
</html>