
body {
    background-color: grey;
  }
  
  #all_contents {
    border: 1px solid magenta;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 33px;
    position: relative;
    top: 51px;
  }

  .song_name {
    max-width: 400px;
  }

  .song_container {
    background-color: white;
    color: black;
    border: 2px solid rgb(93, 93, 93);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: left;
    margin: 4px;
    position: relative;
    max-width: 500px;
  }

  
  .like_bttn {
    background-color: lightgreen;
    color: black;
    text-align: center;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 1px;
    bottom: 1px;
  }
  .dislike_bttn {
    background-color: crimson;
    color: black;
    text-align: center;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    top: 1px;
    bottom: 1px;    
  }